<%- include("partials/header") %>

<div id="loader">
  <div class="line">
    <div id="line-timer">
      <h5>00</h5>
      <h6>- 100</h6>
    </div>
    <h1>Your</h1>
  </div>
  <div class="line">
    <h1>Web Experience</h1>
  </div>
  <div class="line">
    <h1>is Loading right</h1>
    <h2>Now</h2>
  </div>
</div>
<main>
  <div id="page1"></div>
  <div id="page2"></div>
  <div id="page3"></div>
</main>

<%- include("partials/footer") %>
